.example-spacer {
    flex: 1 1 auto;
}

.student-page {
    background-color: #21ABA5 !important;
    height:100vh; 
}

.student-cards {
    background-color: white;
    border-radius: 25px;
    height: 90%;
    margin-left: 1%;
    margin-right: 1%;
}

.title {
    font-size: 25px;
    color: white;
    margin-left: 2%;
}

.mat-toolbar {
    background: linear-gradient(to bottom left, #2DBAB1 45%, #21ABA5 50%);
}

.principal-image {
    width: 50px;
    height: 50px;
    margin-left: 2%;
}

.mat-icon {
    color: white;
}

.mat-card-title {
    margin-left: 10px !important;
}

.card {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F6F6F6;
}

.button-card {
    background: rgba(45, 186, 177, 0.72) !important;
    width: 100%;
    font-family: 'Sarabun', sans-serif;
    color: white !important;
}

.todo-status {
    color: #D80000;
}

.progress-status {
    color: #EDCB19;
}

.completed-status {
    color: #2DBAB1;
}

.student-name {
    width: 50%;
    display: inline-block;
    font-size: 16px;
    font-family: 'Sarabun', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.student-status {
    width: 50%;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    margin-top: 10px;
    margin-right: 50px;
}

.student {
    margin: 10px 10px 10px 10px;

}

.image-notfound {
    width: 450px;
    height: 350px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.text-notfound {
    font-family: 'Sarabun', sans-serif;
}

.circle {
    background-color: #2DBAB1;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px 10px 10px 10px;
}

#percentaje{
    margin-left: 50px;
    width: 50%;
    height: min-content;
  }

.rectangle{
    background-color: #FFFFFF;
    display: flex;
    border-radius: 20px;
}

.bar-info{
    display: flex;
    height: 35px;
}

.breadcrumb{
    margin-left: 2%;
    color: #FFFFFF;
    font-family: 'Sarabun', sans-serif;
    height: 40px;
    margin-bottom: 10px;
}

a:hover { color: #FFFFFF; }
A:visited {color: #FFFFFF;}