.mat-icon {
  display: inline-block;
  color: #21ABA5;
  ;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-form {
  padding-left: 300px !important;
  padding-right: 300px !important;
}

.title-text {
  font-size: 19px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;

}

.comment-text {
  font-size: 15px;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 20px;
}

.title {
  font-size: 27px;
  color: #007B73 !important;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
}

::ng-deep .login-inputs {
  width: 100%;
}

#login-button {
  color: white !important;
  width: 200px;
  height: 54px;
  font-size: 22px;
}

.contact-admin{
  margin-top: 100px;
  margin-bottom: 10px;
  font-family: 'Public Sans', sans-serif !important;
  display: flex !important;
  justify-content: center;
}

a:link{
  color: #21ABA5;
}

a:visited {
  color: #007B73;
}